<div class="background">
<div class="mt-3 ">
    <form name="loginform">
        <label class="form-label" for=""><strong>Username</strong></label>
        <input class="form-control mb-2" type="text" name="username" placeholder="Username" [(ngModel)]="newUser.username">
       <br>
        <label class="form-label" for=""><strong>Password</strong></label>
        <input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="newUser.password">
        <br>
        <label class="form-label" for=""><strong>Email</strong></label>
        <input class="form-control mb-2" type="text" name="email" placeholder="Email" [(ngModel)]="newUser.email">
        <br>
        <label class="form-label" for=""><strong>First Name</strong></label>
        <input class="form-control" type="firstName" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName">
        <br>
        <label class="form-label" for=""><strong>Last Name</strong></label>
        <input class="form-control" type="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName">
        <br>
        <input class="btn btn-warning mt-2 col-12" type="button" value="Register" (click)="register(newUser)">
    </form>
</div>
</div>