

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-shadow: #000000 0 0 10px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 100px;
    width: 100%;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #00ff37;
}

.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 250px;
    height: auto;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.2);
    color: #000000;
}

.footer-logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
