body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.bg-image {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, .8
    ); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.header h1 {
    font-size: 2.5em;
    color: #333;
}

.team-section, .project-section, .purpose-section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    color: #888;
    position: relative;
}

.footer-logo {
    width: 60px;
    height: auto;
    position: center;
    right: 20px;
    bottom: 10px;
}
