<div class="bg-image" style="background-image: url('assets/images/cityscapeorange.png'); background-size: cover; background-attachment: fixed;">
    <div class="about-container">
        <header class="header">
            <img src="assets/images/Skillvillalogo.png" alt="Skill Villa Logo" class="logo">
            <h1>About Skill Villa</h1>
        </header>
        <section class="team-section">
            <h2>Our Team - Pixel Blossom</h2>
            <p>We are a group of three students in the Skill Distillery Full Stack Java Bootcamp. We are passionate about building awesome software that helps people improve their life.</p>
        </section>
        <section class="project-section">
            <h2>About Skill Villa</h2>
            <p>Skill Villa is our final project in the Skill Distillery Bootcamp. The application aims to create communities for people to learn, improve, and share skills. We believe that the best way to learn is by creating a space for groups of like minded people pursuing the same goals.   It was built with a SpringBoot backend and Angular frontend during a 6-day sprint.</p>
        </section>
        <section class="purpose-section">
            <h2>Purpose of Skill Villa</h2>
            <p>The purpose of Skill Villa is to provide a method for creating communities focused on skill development. Users can learn new skills, improve existing ones, and share their knowledge with others.</p>
        </section>
        <footer class="footer">
            <p>&copy; 2024 Skill Villa | Built by Pixel Blossom</p>
            <img src="assets/images/PixelBlossomLogo.png" alt="Pixel Blossom Logo" class="footer-logo">
        </footer>
    </div>
</div>
