.background {
  background-image: url("https://img.freepik.com/premium-photo/professional-slide-template-design-powerpoint-presentation_732449-3192.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.addUserSkill{
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;

  imput, select{
    width: 100%;
  }
}

.background-image {
  background-color: rgb(211, 236, 207);
}
.btn {
  border: 2px solid black;
  background-color: rgb(129, 178, 154);
  color: rgb(255, 255, 255);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
/* .success {
  border-color: #7cc9ad;
  color: rgb(3, 4, 3);
} */

.success:hover {
  background-color: #a1ecd1;
  color: black;
}

img {
  width: 100%;
  max-width: 200px;
}

