<p>skill works!</p>

<div *ngIf="!selected">

<div *ngIf="!selected" >
    <form class="row">
        <input class="form-control col" type="text" name="Skill" [(ngModel)]="newSkill.name">
        <button class="btn bg-primary col" (click)="addSkill(newSkill)">Add New Skill</button>
    </form>
</div>


<table class="table table-striped table-hover ">
    <thead class="table-dark">
        <tr>
            <th>Task</th>
            <th>Mark</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let skill of skills"  >
            
            <td (click)="displaySkill(skill)">{{skill.name}}</td>
            <td><input type="checkbox" name="name" id="" [disabled]="skill.name" [(ngModel)]="skill.name" (change)="updateSkill(skill)"></td>
            <td (click)="displaySkill(skill)">{{skill.name}}</td>
            <td><button class="btn btn-danger" (click)="delete(skill.id)">X</button></td>
        </tr>
    </tbody>
</table>

</div>


<div *ngIf="selected && !editSkill">
    <h2>{{selected.id}}</h2>
    <p>{{selected.name}}</p>

    <button class="btn bg-primary" (click)="setUpdatedSkill()">Edit</button>
</div>

<div *ngIf="editSkill"> 

<form name="editForm">
    <div class="form-floating">
        <input class="form-control" type="text" name="task" id="1" placeholder="" [(ngModel)]="editSkill.name">
        <label for="i">Task</label>
    </div>


    <button class="btn bg-primary" (click)="editSkill = null">Cancel</button>
    <button class="btn bg-success" (click)="updateSkill(editSkill)">Save</button>
</form>

</div>